<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARC Fun</title>
    <link rel="stylesheet" href="../static/stylefun.css">
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
     <div class="icons1">
            <a href="/"><i class="ri-home-line"></i></a>
        </div>
   <header class="container">
<h2>Enjoy Your Favourite <span>Games Here</span></h2>

<div class="feature-content">
    <div class="row">
     <div class="main-row">
          <h3>Temple Run</h3>
        <div class="icons">
            <a href="https://poki.com/en/g/temple-run-2"><i class="ri-play-line"></i></a>
        </div>
                   
     </div>
<img src="../static/temple.png" alt="">
    </div>
</div>
{{!-- second --}}
<div class="feature-content">
    <div class="row">
     <div class="main-row">
          <h3>Subway Surfer</h3>
                   <div class="icons">
                    <a href="https://poki.com/en/g/subway-surfers"><i class="ri-play-line"></i></a>
                   </div>
     </div>
<img src="../static/sub.png" alt="">
    </div>
</div>
    {{!-- third --}}
<div class="feature-content">
    <div class="row">
     <div class="main-row">
          <h3>Moto R-3xm</h3>
                   <div class="icons">
                    <a href="https://poki.com/en/g/moto-x3m"><i class="ri-play-line"></i></a>
                   </div>
     </div>
<img src="../static/moto.png" alt="">
    </div>
</div>
{{!-- fourth --}}
<div class="feature-content">
    <div class="row">
     <div class="main-row">
          <h3>Stupid Zombies</h3>
                   <div class="icons">
                    <a href="https://poki.com/en/g/stupid-zombies"><i class="ri-play-line"></i></a>
                   </div>
     </div>
<img src="../static/zombies.png" alt="">
    </div>
</div>
  
   </header>
    <footer class="end">
        <h3>You can play all these games and many more on poki.com</h3>
        <a href="https://poki.com/" class="btn">Get Started</a>

    </footer>
</body>
</html>