<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournaments</title>
    <link rel="stylesheet" href="../static/styleTou.css">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    

    <ul class="navbar">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/arcfun">ARC Fun</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/tournaments">Tournaments</a></li>
    </ul>
    </header>
    <section class="middle-text">
        <h2>Watch These <span>Events Now</span></h2>  
        </div>

        <div class="feature-content">
            <div class="row">
                <div class="main-row">
                    <h3>Fifa World Cup</h3>
                    <a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022" class="row-btn">Watch Now</a>
                </div>
        <div>
            <img src="../static/fifa.png" alt="">
        </div>
     </div>
        </div>
        <div class="feature-content">
            <div class="row">
                <div class="main-row">
                    <h3>ICC World Cup</h3>
                    <a href="https://www.youtube.com/@PakistanCricketOfficial" class="row-btn">Watch Now</a>
                </div>
        <div>
            <img src="../static/icc.png" alt="">
        </div>
     </div>
        </div>
        <div class="feature-content">
            <div class="row">
                <div class="main-row">
                    <h3>Olympics</h3>
                    <a href="https://olympics.com/en/" class="row-btn">Watch Now</a>
                </div>
        <div>
            <img src="../static/olympics.png" alt="">
        </div>
     </div>
        </div>
    </section>

    
</body>
</html>